.inner{
  width: 100%;
  padding: 30px 100px 100px;
  position: relative;
}
.content{
  background-color: #f8f8fb;
  border-radius: 12px;
  padding: 32px 28px 28px 28px;
  box-shadow: 0 0 40px 0 rgb(94 92 154 / 16%);
  width: 100%;
}