
.users{
    max-width: 100%;
    width: 100%;
    padding: 30px 100px 100px;
    position: relative;
}
.users_inner{
    padding: 32px 28px 28px 28px;
    box-shadow: 0 0 40px 0 rgba(94,92,154, .16);
    background-color: #fff;
    border-radius: 12px;
}
.users_elements{
    display: flex;
    flex-wrap: wrap;

}
.user{
    box-shadow: 0 0 40px 0 rgba(94,92,154, .16);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 285px;
    width: 28.1%;
    padding: 32px 28px;
    margin-bottom: 20px;
}
.user + .user{
    margin-left: 20px;
}
.user:nth-child(4),
.user:nth-child(7),
.user:nth-child(10){
    margin-left: 0px;
}

.user:last-child{
    margin-right: 0px;
}

.avatar{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #442783;
}
.avatar img{
    border-radius: 50%;
}
.userName{
    font-weight: 700;
    font-size: 1.125rem;
    color: #3e3f5e;
    margin-top: 15px;
    margin-bottom: 15px;
}
.user p {
    margin-bottom: 15px;
}
.userBtn{
    text-decoration: none;
    display: flex;
    padding: 0px 26px;
    justify-content: center;
    align-items: center;
    height: 48px;
    border-radius: 10px;
    background-color: #23d2e2;
    color: #fff;
    font-size: 0.875rem;
    font-weight: 700;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    transition: background-color .2s ease-in-out, color .2s ease-in-out, border-color .2s ease-in-out, box-shadow .2s ease-in-out;
    box-shadow: 0 0 40px 0 rgba(94,92,154, .26);
    border: none;
    margin-bottom: 25px;
}
.userBtn:disabled{
    background-color: #0f686e;
}
.pagination{
    width: 450px;
    margin: 0 auto 30px;
}
.activePaginationBtn,
.paginationBtn{
    font-weight: bold;
    box-shadow: 0 0 20px 0 rgba(94, 92, 154, .36);
    border-radius: 10px;
    background-color: #f8f8fb;
    padding: 5px;
    width: 50px;
    height: 50px;
    border: none;
    font-size: 16px;
    outline: none;
    margin-right: 20px;
    cursor: pointer;
}
.paginationBtn{
  font-weight: 400;
}
