.users{
    box-shadow: 0 0 40px 0 rgba(94,92,154, .16);
    background-color: #fff;
    border-radius: 12px;
    max-width: 520px;
    width: 100%;
    padding: 32px 28px 28px 28px;
    margin-left: 40px;
}
.user{
    box-shadow: 0 0 40px 0 rgba(94,92,154, .16);
    border-radius: 12px;
    padding: 15px;
}
.user + .user{
    margin-top: 15px;
}