.posts{
    box-shadow: 0 0 40px 0 rgba(94,92,154, .16);
    background-color: #fff;
    border-radius: 12px;
    width: 47%;
    padding: 32px 28px 28px 28px;
}
.btn{
    background-color: #4b2093;
    color: #fff;
    box-shadow: 4px 7px 12px 0 rgba(176, 0, 245, 0.24);
    margin-bottom: 20px;
}
.title{
    font-size: 1rem;
    font-weight: 700;
    line-height: 1em;
    color: #3e3f5e;
    margin-bottom: 35px;
}
.textarea{
    width: 100%;
    cursor: pointer;
    min-height: 60px;
    resize: none;
    outline: none;
    margin-bottom: 15px;
}